@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


body {
  background-image: var(--BgImageWide);
}

@media (max-width: 500px) {
  body {
    background-image: var(--BgImageMobile);
  }

}

@media (min-width: 500px) {
  #boxContent {
   overflow: scroll;
  }
  #seatBox {
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;
      color: #fdfdfd;
  }

}