@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


body {
  background-image: var(--BgImageWide);
}


@media (max-width: 500px) {
  body {
    background-image: var(--BgImageMobile);
  }
}