<app-navbar></app-navbar>
<body [style.--BgImageWide]="'url('+movieUrlWide+')'" [style.--BgImageMobile]="'url('+movieUrlMobile+')'" > 
<div class="input-group" id="boxContent">
    <form class="custom-form" method="post">
        <h1 class="text-center m-3">Elegir asiento</h1>
        <div class="mb-3 mt-3">
            <app-seats-grid (gridChangeEvent)="getChangeOnGrid()"></app-seats-grid>
        </div>
        <p *ngIf="noSeatsSelected" style="color: red;">Seleccione al menos 1 asiento</p>
        <app-seats-btn-next (goNextEvent)="gotoNextPage()"></app-seats-btn-next>
    </form>
</div>
<app-footer></app-footer>
    
</body>