/* .fi-section-heading {
    left: 0%;
    bottom: 0%;
    margin-bottom: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 2.2rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
  } */
  
.navbar{
  background-color: #262b4f;
}
h1 {
  color: #fdfdfd;
  font-family: 'Inter', sans-serif;
}