
  .principal {
    background-color: #182670;
  }
  
  
/* 
  h1 {
    margin: 0;
    padding-bottom: 10pt;
    color: #fdfdfd;
    font-family: 'Inter', sans-serif;
    //text-shadow: 3px 3px #000000;
  }

  @media (max-width: 576px) {
  .custom-form {
    min-width: 300px;
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 1rem;
    border-radius: 2.5rem;
    background-color: #262b4f;
    color: black;
    -webkit-box-shadow: 0px 0px 58px 23px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 58px 23px rgba(0,0,0,0.76);
    //position: fixed;
    //position: fixed;
    //transform: translate(-50%, 0);

    //left: 50%;
    //right: 50%;
    //top: 50%;
}
#buscador{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

}
  .custom-form input {
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: 0 none;
    background: #fdfdfd;
  } 
  
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #0a0c2c;
    width: 80%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
  }


  @media (min-width: 576px) {
    #buscador {
      width: 45%;
      position: fixed;
      right: 0%;
      left: auto;
      top: auto;
      transform: none;
      height: 100%;
  }

  .custom-form {
    width: 100%;
    background-color: #262b4f;
    padding: 2rem 1rem;
  }


 } */