<app-navbar></app-navbar>
<div class="principal">
    <div class="input-group" id="boxContent">
        <form class="custom-form">
            <h1 class="text-center pb-sm-0 m-sm-0 m-md-3 m-lg-3 pb-md-3">Buscar películas</h1>
            <app-movie-finder-movie-selector (movieSelectedEvent)="getPelicula($event)"></app-movie-finder-movie-selector>
            <app-movie-finder-theater-selector (enableDateFormEvent)="enableDateForm()"></app-movie-finder-theater-selector>
            <app-movie-finder-date-selector></app-movie-finder-date-selector>
            <p *ngIf="schedNotFound" style="color: red; font-weight: bold;">No hay funciones disponibles</p>
            <app-movie-finder-btn-next (SearchMovieFunctionsEvent)="getMovieSchedule()" ></app-movie-finder-btn-next> 
        </form>
    </div>
</div>

<app-footer></app-footer>