<app-navbar></app-navbar>
<div class="input-group mb-5" id="resumen">
    <form class="custom-form" method="post">
        <h1 class="text-center">Resumen de compra</h1>
        <br>
        <h4 class="text-center">{{movie}}</h4>
        <h4 class="text-center">{{theater}}</h4>
        <h4 class="text-center">{{date}}</h4>
        <h4 class="text-center">{{hora}}hs</h4>
        <h4 class="text-center">Asientos: {{seats}}</h4>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Siguiente</button>
        </div>   
    </form>
</div>