<body [style.--BgImageWide]="'url('+movieUrlWide+')'" [style.--BgImageMobile]="'url('+movieUrlMobile+')'">
    <app-navbar></app-navbar>
    <div id="boxContent">
        <div class="input-group" id="resumen">
            <form class="custom-form">
                <h1 class="text-center ">Resumen de compra</h1>
                <br>
                <h4 class="text-center">{{movie}}</h4>
                <h4 class="text-center">{{theater}}</h4>
                <h4 class="text-center">{{date}}</h4>
                <h4 class="text-center">{{time}}hs</h4>
                <h4 class="text-center">Asientos:</h4>
                <h4 class="text-center" *ngFor="let seat of seatsString">{{seat}}</h4>
                <h4 class="text-center">Extras:</h4>
                <h4 class="text-center" *ngFor="let extra of extras">{{extra}}</h4>
                <h4 class="text-center">Total ${{total}}</h4>
                <app-summary-btn-next (SummaryNext)="goNext()"></app-summary-btn-next>
            </form>
        </div>

    </div>
    <app-footer></app-footer>
</body>