
body {
  /*     background-image: url("/assets/seats-background.jpg");
   */
  background-image: var(--BgImageWide);
}

h1 {
  margin: 0;
  padding: 0;
  color: #fdfdfd;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

h4 {
  color: #fdfdfd;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@media (max-width: 500px) {


  body {
    background-image: var(--BgImageMobile);
  }

  h1 {
    margin: 0;
    padding: 0;
    color: #fdfdfd;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }

  #resumen {
    width: 100%;
    height: 100%;
    //background: rgba(255, 255, 255, 0.15);
    padding: 2rem 1rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: #262b4f;
    color: #fdfdfd;
    /*         position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); */
  }

}

button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #0a0c2c;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}