.description {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
   /*  &.light {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(255, 255, 255, 0.8);
    }
    &.dark {
      color: rgba(255, 255, 255, 0.8);
    } */
   #film{
    color: cornflowerblue;
    font-weight: bold;
   } 
  }
  