.description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  min-height: 250px;
   background-color: #262b4f;
   color: #fdfdfd;

  /*  &.light {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(255, 255, 255, 0.8);
    }
    &.dark {
      color: rgba(255, 255, 255, 0.8);
    } */
  #film {
    font-weight: 800;
    font-size: 1.5rem;
    color: cornflowerblue;
    font-weight: bold;
  }

  #description {
    color: #fdfdfd;
  }
}