.description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  background-color: #262b4f;
  color: #fdfdfd;

  /*  &.light {
      color: rgba(0, 0, 0, 0.8);
      background-color: rgba(255, 255, 255, 0.8);
    }
    &.dark {
      color: rgba(255, 255, 255, 0.8);
    } */
  #film {
    font-weight: 800;
    font-size: 1.5rem;
    color: cornflowerblue;
    font-weight: bold;
  }

  #description {
    color: #fdfdfd;
  }
}

@media (min-width: 768px) {
  .description {
    padding-bottom: 3rem;
  }
}
  @media (min-width: 1280px) {
    .description {
      padding-bottom: 5rem;
    }
  }