.description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  background-color: #262b4f;
  color: #fdfdfd;
  position: fixed;
  width: 100%;

  #film {
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  #description {
    color: #fdfdfd;
  }
}

@media (min-width: 576px) {
  .description {
    bottom: 40px;
  }
}

@media (max-width: 576px) {
  .description {
    bottom: 0px;
  }
}