.fi-post-image {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.post-image-cropper {
  width: 100%;
  height: 50vh;
 /*  overflow: hidden; */
}
.wide {
  display: none;
}
.mobile {
  display: block;
}


@media (min-width: 768px) {
  .mobile{
    display: none;
  }
  .wide {
    display: block;
  }
  .post-image-cropper {
      max-height: 65vh;
      width: 100% !important;
      //overflow: hidden;
  }
  .fi-post-image {
      //width: 100%;
      max-height: 65vh;
      align-items: center;
      object-fit: cover;
      overflow: hidden;
  }
}

// Language: scss