@media (max-width: 768px) {
.fi-post-image {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.post-image-cropper {
  width: 100%;
  height: 70vh;
  overflow: hidden; 
}
.wide {
  display: none;
}
.mobile {
  display: block;
}
}

@media (min-width: 768px) {
  .mobile{
    display: none;
  }
  .wide {
    display: block;
  }
  .fi-post-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
  }
  .post-image-cropper {
    width: 100% !important;
    height: 70vh;
    overflow: hidden;
}
}

