.carousel-control-prev,
.carousel-control-next {
    height: 50vh;
}

@media (min-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        height: 65vh;
    }
}

/*
.carousel-caption {
    touch-action: none;
    -webkit-user-drag: none;
    overflow-block: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../src/assets/seats-background.jpg"); 
    background-color: #262b4f;
    background-repeat: repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-position: center, center;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-bottom: 10pt;
    color: #fdfdfd;
    font-family: 'Inter', sans-serif;
}



  
@media (min-width: 500px) {

    #boxContent {
        width: 45%;
        max-width: 480px;
        position: fixed;
        right: 0%;
        left: auto;
        top: 50px;
        bottom: 50px;
        transform: none;
        height: calc(100% - 100px);
        justify-content: center;
        background-color: #262b4f;
        opacity: 90%;
     }

    #boxContent .custom-form {
        width: 100%;
        padding: 2rem 1rem;
    }
    #boxContent .custom-form button {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-weight: bold;
    }
}

@media (max-width: 500px) {
    #boxContent {
        position: fixed;
        width: 100vw;
        height: 60vh;
        bottom: 0px;
        opacity: 95%;
        overflow-y: auto;
        overflow-x:hidden;
      }
  
      
    h1 {
      margin: 0;
    }
  
    .custom-form {
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 2.5rem;
      background-color: #262b4f;
      //box-shadow: 0px 0px 58px 23px rgba(0, 0, 0, 0.76);
    }
  

  }
@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}