.carousel-control-prev,
.carousel-control-next {
    height: 65vh;
}


@media (min-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        height: 65vh;
    }
} 

.carousel-inner{
    position: absolute !important;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../src/assets/seats-background.jpg");
    background-color: #262b4f;
    background-repeat: repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-position: center, center;
    align-items: center;
    justify-content: center;
    
}

h1 {
    margin: 0;
    padding-bottom: 10pt;
    color: #fdfdfd;    
    font-family: 'Inter-Bold';
    font-size: 2.5rem;;
}


// Scroll bar para chrome
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #262b4f;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 4px;
}

@media (min-width: 576px) {

    #boxContent {
        width: 45%;
        max-width: 480px;
        position: fixed;
        right: 0%;
        left: auto;
        bottom: 40px;
        transform: none;
        height: calc(100% - 95px);
        justify-content: center;
        background-color: #262b4f;
        opacity: 90%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #boxContent .custom-form {
        width: 100%;
        padding: 2rem 1rem;
        height: 100%;
    }

    #boxContent .custom-form button {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-weight: bold;
    }
}

@media (max-width: 576px) {
    #boxContent {
        position: fixed;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        background-color: #262b4f;
        width: 100vw;
        height: 80vh;
        bottom: 0px;
        opacity: 95%;
        overflow-y: auto;
        overflow-x: hidden;
    }


    h1{
        margin: 0;
        font-family: 'Inter-Bold';
        font-size: 2.2rem !important;
        color: #fff;
      } 

    .custom-form {
        width: 100%;
        padding: 2rem 1rem;
        //box-shadow: 0px 0px 58px 23px rgba(0, 0, 0, 0.76);
    }


}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Archivo";
    src: local("Archivo"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }

   @font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold"), url(./assets/fonts/Inter/static/Inter-Bold.ttf) format("truetype");
  } 

  //@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Inter:wght@800&display=swap');
