.carousel-control-prev,
.carousel-control-next {
    height: 350px;
}

/*
.carousel-caption {
    touch-action: none;
    -webkit-user-drag: none;
    overflow-block: none;
}
*/
@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}