<app-navbar></app-navbar>
<div class="principal">
  <div class="input-group" id="boxContent">
    <form class="custom-form">
      <h1 class="text-center mt-5 mb-3">Bienvenido</h1>
      <app-login-page-input #userinput [type]="'text'" [placeholder]="'Usuario'"></app-login-page-input>
      <app-login-page-input #passinput [type]="'password'" [placeholder]="'Contraseña'"></app-login-page-input>

      <!-- <p *ngIf="wrongUser" style="color: red;">Login Incorrecto</p> -->
      <ng-container *ngIf="wrongUser">
        <div class="alert alert-danger" role="alert">
          {{ msgerror}}
        </div>
      </ng-container>

      <app-login-page-btn (LoginEvent)="login()"></app-login-page-btn>
    </form>
  </div>
</div>
<app-footer></app-footer>