#inputGroupSelectTheater{
    background: transparent;
    color: white;
    border-color: #0a0c2c;
}

#inputGroupSelectTheater:disabled{
    background: #dddddd;
    color: black;
 }
select option{
    background-color: #0a0c2c;
}