<!-- ORIGINAL
<div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect01">
      <option selected disabled>Elegir cine...</option>
      <option *ngFor="let cine of listaCines" [value]="cine">
        {{cine.cine}}
      </option>
      <option *ngIf='pelicula !== ""'>{{pelicula}}</option>
    </select>
  </div>
-->


<div class="input-group mb-3" >
  <select [(ngModel)]="selectedTheater" class="form-select" id="inputGroupSelect01" [disabled]="isDisabled" (change)="enableDateForm()" >
    <option selected disabled value="undefined">Elegir cine...</option>
    <ng-container>
      <option [ngValue]="theater" *ngFor='let theater of theaters'>
        {{theater}}
      </option>
    </ng-container>
    <!--<option *ngIf='pelicula !== ""'>{{pelicula}}</option> -->
  </select>
</div>

