

  .principal {
    background-color: #182670;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: #fdfdfd;
  }
  #processing {
    min-width: 300px;
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 1rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: #262b4f;
    color: black;
    //position: fixed;
    //position: fixed;
    //transform: translate(-50%, 0);

    //left: 50%;
    //right: 50%;
    //top: 50%;
}


  #processing{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 500px) {
    #processing {
       width: 25%;
   }
 }