<app-navbar></app-navbar>
<div id="boxContent">
  <div class="d-flex justify-content-center pb-sm-0 m-sm-0 mt-md-3 mt-lg-3 mb-md-3 mb-lg-3">
    <h3> Codigo de Verificacion</h3>   
  </div>
  <div *ngIf="qrloaded; else notloaded" class="d-flex justify-content-center text-center  " id="qrcode">
    <qr-code [value]='qrcode!' [size]='width' [level]="'H'"></qr-code>
  </div>
  <div class="d-flex justify-content-center m-3">
    <h3> QR: {{qrcode}}</h3>
  </div>
<!--   <app-qrcode-btn-p-invoice [cart]="cart"></app-qrcode-btn-p-invoice>

 -->
 <app-qrcode-btn-p-invoice></app-qrcode-btn-p-invoice>
 <app-qrcode-btn [btnLabel]="btnLabel!"> </app-qrcode-btn>
</div>
<ng-template #notloaded>
  <div class="d-flex justify-content-center text-white loading p-5">
      <div class="spinner-border" role="status">
      </div>
  </div>
</ng-template>

<app-footer></app-footer>