<div class="row">
    <div class="col-4 col-sm-4 align-self-center d-flex justify-content-center">
        <span>
            {{date}}
            {{time}}
        </span>
    </div>
    <div class="col-2 col-sm-2 d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            {{movie}}
        </span>
    </div>
    <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            {{theater}}
        </span>
    </div>
    <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            <a [routerLink]="['/qrcode', qrcode]">{{qrcode}}</a>
        </span>
    </div>
</div>