<div class="row">
    <div class="col-3 col-sm-3 align-self-center d-flex justify-content-center">
        <span class="text-center">
            {{date}}
            {{time}}
        </span>
    </div>
    <div class="col-3 col-sm-3 d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            {{movie}}
        </span>
    </div>
    <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            {{theater}}
        </span>
    </div>
    <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center text-center">
        <span class="align-middle">
            <!-- <a [routerLink]="['/qrcode', qrcode]">{{qrcode}}</a> -->
            <button type="button" class="btn btn-primary" [routerLink]="['/qrcode', qrcode]"><i class="bi bi-download"></i></button>
        </span>
    </div>
</div>