<nav class="navbar px-3">
    <img src="./assets/icons/TiNG-Cropped.png" alt="TiNG Logo" width="40" height="34" class="d-inline-block">
    <div *ngIf="isNotLoginPage">
      <div class="wide">
          <button class="btn btn-login" title="{{btnLabel}}" (click)="goNextPage()"> {{btnLabel}} </button>
      </div>
      <div class="mobile">
        <button class="btn" title="history">
          <i class="bi bi-ticket-perforated justify-content-end text-success"></i>
        </button>
          <button class="btn" title="{{btnLabel}}" (click)="goNextPage()">
            <i class="{{biclass}} justify-content-end vertical-align "></i>
          </button>
    </div>
  </div>
</nav>