nav{
    background-color: #0a0c2c;
    -webkit-box-shadow: 0px 0px 38px 23px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 38px 23px rgba(0,0,0,0.76);
    opacity: 90%;
    z-index: 99;
    height: auto;
    .bi{
        color: rgb(231, 232, 238);
        font-size: 2.2rem;
  
    }

}
.btn-login{
    color:aliceblue;
    border: 1px solid #ccc;
}

.btn-login:hover{
    color:rgb(230, 237, 238);
}
@media (min-width: 768px) {
    .mobile{
      display: none;
    }
    .wide {
      display: block;
    }
}

@media (max-width: 768px) {
    .mobile{
      display: block;
    }
    .wide {
      display: none;
    }
}

.navbar-toggler{
  box-shadow: none;
}
.nav-link{
  text-decoration: underline;
  color: rgb(231, 232, 238);
}