
* {
    box-sizing: border-box;
  }

  html,
  body {
    background: #ecf0f3;
    justify-content: center;
    display: flex;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: #fdfdfd;
  }
  .custom-form {
    min-width: 300px;
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 1rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: #0a0c2c;
    color: black;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
  .custom-form input {
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    border: 0 none;
    background: #fdfdfd;
  } 
  
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 80%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }