
<body [style.--BgImageWide]="'url('+movieUrlWide+')'" [style.--BgImageMobile]="'url('+movieUrlMobile+')'" > 
<app-navbar></app-navbar>

<div id="boxContent" >
    <div class="overflow-auto" id="movieList">
        <h1 class="text-center pb-sm-0 m-sm-0 m-md-3 m-lg-3 pb-md-3">Horarios</h1>
        <div class="row p-md-3">
            <div class="col-4 mb-1">
                <h6><i class="bi bi-camera-reels"></i> Evento: </h6>
                <p>{{movie}}</p>
            </div>
            <div class="col-4 mb-1">
                <h6><i class="bi bi-geo"></i> Lugar:  </h6>
                <p>{{theater}}</p>

            </div>
            <div class="col-4 mb-1">
                <h6><i class="bi bi-calendar-date"></i> Fecha: </h6>
                <p>{{date}}</p>
            </div>
        </div>
        <ul class="list-group list-group-light mb-5">
            <li #hours class="list-group-item d-flex justify-content-between align-items-center d-inline-block mb-1"
                *ngFor="let exhibition of exhibitions">
                <div class="col-4 mb-1">
                    <span class="align-middle">Hora: {{exhibition.time}}</span>
                </div>
                <div class="col-4 mb-1">
                    <span class="align-middle">Precio: ${{exhibition.price}}</span>
                </div>
                <div class="col-4 mb-1 d-flex justify-content-center text-center">
                    <button type="button" class="btn btn-primary" (click)="goNext(exhibition.id,exhibition.time, exhibition.price)">Seleccionar</button>
                </div>
                <!-- <div class="ml-sm ml-1"> Horario: {{exhibition.time}} - Precio: ${{exhibition.price}}</div> -->
                
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>
    
</body>