h1 {
    margin: 0;
    padding: 0;
    color: #fdfdfd;
}

#listaPeliculas{
    min-width: 300px;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 1rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: #262b4f;
    color: #fdfdfd;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul,
li{
    background-color: #262b4f;
    color: #fdfdfd;
    border: 0px;
}


@media (min-width: 500px) {
    #listaPeliculas {
       width: 25%;
   }
 }