<app-navbar></app-navbar>
<div id="listaPeliculas">
    <h1>Horarios</h1>
    <br>
    <ul class="list-group list-group-light">
        <li #hours class="list-group-item d-flex justify-content-between align-items-center d-inline-block" *ngFor="let funcion of funciones">
        <span class="text-danger">{{funcion['movie'].name}} </span> <div class="ml-sm"> Horario: {{funcion.horario}} </div>
        <button type="button" class="btn btn-primary" (click)="goNext(funcion)">Seleccionar</button>
        </li>
    </ul>
</div>