
<body [style.--BgImageWide]="'url('+movieUrlWide+')'" [style.--BgImageMobile]="'url('+movieUrlMobile+')'" > 
<app-navbar></app-navbar>

<div id="boxContent" >
    <div class="overflow-auto" id="movieList">
        <h1 class="text-center m-3 mt-5">Horarios</h1>
        <div class="row">
            <div class="col-4 mb-1">
                <h6>Evento: </h6>
                <p>{{movie}}</p>
            </div>
            <div class="col-4 mb-1">
                <h6>Lugar:  </h6>
                <p>{{theater}}</p>

            </div>
            <div class="col-4 mb-1">
                <h6>Fecha: </h6>
                <p>{{date}}</p>
            </div>
        </div>
        <ul class="list-group list-group-light mb-5">
            <li #hours class="list-group-item d-flex justify-content-between align-items-center d-inline-block mb-1"
                *ngFor="let funcion of funciones">
                <div class="ml-sm ml-1"> Horario: {{funcion.horario}} </div>
                <button type="button" class="btn btn-primary" (click)="goNext(funcion)">Seleccionar</button>
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>
    
</body>