    <ngb-carousel #ngcarousel *ngIf="movies" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let movie of movies">
            <div (touchstart)="captureSwipeStart($event)" (touchend)="swipePost($event)">
                <app-post-img [image]="movie.postImg" [movie]="movie.name"></app-post-img>
                <app-info-post [movie]="movie.name" [description]="movie.description"></app-info-post>
                <button type="button" class="btn btn-primary"> caquita</button>
            </div>
        </ng-template>
    </ngb-carousel>
