.asientosGrid {
  margin: 0;
  padding: 0;
  //display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

}

*::-webkit-scrollbar-thumb {
  border: 5px solid #262b4f;
}

#seatsSelectedBox {
  color: white;
}

tbody:before {
  content: "-"; 
  display: block;
  line-height: 1rem;
  color: transparent;
}

.pantalla {
  padding: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
  background: #0a0c2c;
  color: white;
  border-radius: 5px;

 
}

#rowNumber {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.alert {
  margin: 0.8rem;
  padding: 0.5rem;
  max-width: 90%;

}

.loading {
  min-height: 350px;
  display: flex;
  background-color: #262b4f;
  opacity: 90%;
}

table{
  width: 100%;
}
