<div *ngIf="loaded">
    <ol class="asientosGrid">
        <li class="d-flex justify-content-center">
            <div class="pantalla">
                <label>PANTALLA</label>
            </div>
        </li>
        <li class="d-flex justify-content-evenly"> 
            <div class="asiento" *ngFor="let index of fila1">
                <input type="checkbox" [checked]="checked" [disabled]="seats[index].status" id="{{seats[index].seat}}"
                    (change)="checkboxClick($event)" />
                     <img alt="">
            </div>
        </li>
        <li class="d-flex justify-content-evenly"> 
            <div class="asiento" *ngFor="let index of fila2">
                <input type="checkbox" [checked]="checked" [disabled]="seats[index].status" id="{{seats[index].seat}}"
                    (change)="checkboxClick($event)" />
                     <img alt="">
            </div>
        </li>
        <li class="d-flex justify-content-evenly"> 
            <div class="asiento" *ngFor="let index of fila3">
                <input type="checkbox" [checked]="checked" [disabled]="seats[index].status" id="{{seats[index].seat}}"
                    (change)="checkboxClick($event)" />
                     <img alt="">
            </div>
        </li>
        <li class="d-flex justify-content-evenly"> 
            <div class="asiento" *ngFor="let index of fila4">
                <input type="checkbox" [checked]="checked" [disabled]="seats[index].status" id="{{seats[index].seat}}"
                    (change)="checkboxClick($event)" />
                     <img alt="">
            </div>
        </li>
        <li class="d-flex justify-content-evenly"> 
            <div class="asiento" *ngFor="let index of fila4">
                <input type="checkbox" [checked]="checked" [disabled]="seats[index].status" id="{{seats[index].seat}}"
                    (change)="checkboxClick($event)" />
                     <img alt="">
            </div>
        </li>
    </ol>
    <br>
    <div id="seatsSelectedBox">
        <!-- NO PUDE HACERLO ANDAR CON NGMMODEL Y RENDERIZAR EL HTML -->
        <h6 class="d-flex justify-content-center">Asientos seleccionados:</h6>
        <span id="seatsSelected" class="d-flex justify-content-center"  [(ngModel)]="seleccionados"> {{seleccionados}} </span>
    </div>

</div>

