.asientosGrid {
  margin: 0;
  padding: 0;
  //display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

}

*::-webkit-scrollbar-thumb {
  border: 5px solid #262b4f;
}

#seatsSelectedBox {
  color: white;
}

tbody:before {
  content: "-"; 
  display: block;
  line-height: 1rem;
  color: transparent;
}

.pantalla {
  padding: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
  background: #0a0c2c;
  color: white;
  border-radius: 5px;

  /*   right: 50%;
  left: 50%;
  transform: translate(-50%, -50%) */
}

#rowNumber {
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.alert {
  margin: 0.8rem;
  padding: 0.5rem;
  max-width: 90%;

}

.loading {
  min-height: 350px;
  display: flex;
  background-color: #262b4f;
  opacity: 90%;
}

table{
  width: 100%;
}
/* 
.asiento {
  width: 2rem;
  height: 2rem;
  position: relative;
 
  input[type=checkbox] {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    position: absolute;
    display: inline-block;
        &:hover {
      cursor: pointer;
    }

    +img {
      object-fit: fill;
    display: inline;
      width: 100%;
      height: 100%;
      content: url("/assets/icons/asiento.svg");
    }
  }

  input[value=false]:checked {
    &:hover {
      cursor: pointer;
    }

    +img {
      object-fit: fill;
      width: 100%;
      height: 100%;
      content: url("/assets/icons/asientoSeleccionado.svg");
    }
  }

  input[value=false]:disabled {
    &:hover {
      cursor: not-allowed;
    }

    +img {
      object-fit: fill;
      width: 100%;
      height: 100%;
      content: url("/assets/icons/asientoOcupado.svg");
    }
  }

  //Value toma el valor de Empty, si esta vacio el asiento no muestra nada
  input[value=true] {
    &:hover {
      cursor: default;
    }

    +img {
      display: none;
    }
  }

} */