button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }