li{
    background-color: #262b4f;
}


@media (min-width: 576px) {
    ul{
        height: 550px;
        overflow: auto;
    }
}

@media (max-width: 576px) {
    ul{
        height: 45vh;
        overflow: auto;
    }
}