<div class="row align-items-center">
    <div class="col" style="width: auto;">
      <img src="../../../../assets/TiNG-Cropped.png" style="width:10px;height:10px;">
    </div>
    <div class="col align-items-center text-center">
        <span class="align-middle">{{nombreE}}</span>
    </div>
    <div class="col d-inline-flex align-items-center">
        <span class="pe-3 align-middle">{{precioO}}</span>
        <select class="form-select form-select-sm" aria-label="cantidad" style="width:auto;">
            <option selected value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
          </select>
    </div>
  </div>
