<div class="row">
  <div class="col align-self-center d-flex justify-content-center">
    <img src="{{img}}" style="width:100px;height:100px;">
  </div>
  <div class="col d-flex justify-content-center align-self-center">
    <span class="align-middle">{{name}}</span>
  </div>
  <div class="col d-flex justify-content-center">
    <span class="pe-3">${{price}}</span>
    <div class="input-group d-inline-flex">
      <span class="input-group-btn vertical-align" id="minus">
        <button type="button" class="btn btn-default btn-number btn-minus" data-type="minus" data-field="quant[0]" (click)="clickMinus()">
          <i class="bi bi-dash"></i>
        </button>
      </span>
      <input type="text" name="quant[1]" class="form-control input-number" id="cantidad{{id}}" disabled value="0" min="0" max="10">
      <span class="input-group-btn" id="plus">
        <button type="button" class="btn btn-default btn-number btn-plus" data-type="plus" data-field="quant[1]" (click)="clickPlus()">
          <i class="bi bi-plus"></i>
        </button>
      </span>
    </div>
</div>