span{
    color: white;
}

#minus{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 1px solid #ccc;
    max-height: 2.5rem;
    max-width: 2.0rem;
    align-items: center;
    justify-content: center;
    display: flex;    
}

#plus{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: 1px solid #ccc;
    max-height: 2.5rem;
    max-width: 2.0rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.btn-minus{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    max-height: 2.5rem;
    max-width: 2.0rem;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.btn-minus:disabled{
    background: #dddddd;
    color: black;
    overflow: hidden;
    border: none;
    border-radius: 0%;
    padding: 10px;
}

.btn-plus{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;

    max-height: 2.5rem;
    max-width: 2.0rem;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.input-number{
    max-width: 3rem ;
    text-align: center;
    max-height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#quantity{
    height: fit-content;
}