<div class="row align-items-center">
  <div class="col-3" style="width: auto;">
    <img src="../../../../assets/TiNG-Cropped.png" style="width:10px;height:10px;">
  </div>
  <div class="col-3 align-items-center text-center">
    <span class="align-middle">{{name}}</span>
  </div>
  <div class="col d-inline-flex align-items-center">
    <span class="pe-3">${{price}}</span>

    <div class="input-group d-inline-flex justify-content-end">
      <span class="input-group-btn vertical-align" id="minus">
        <button type="button" class="btn btn-default btn-number btn-minus" disabled="disabled" data-type="minus" data-field="quant[0]">
          <i class="bi bi-dash"></i>
        </button>
      </span>
      <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
      <span class="input-group-btn" id="plus">
        <button type="button" class="btn btn-default btn-number btn-plus" data-type="plus" data-field="quant[1]">
          <i class="bi bi-plus"></i>
        </button>
      </span>
    </div>

  </div>
</div>