<app-navbar></app-navbar>
<div id="boxContent">
    <div class="input-group" id="resumen">
        <form class="custom-form">
            <h1 class="text-center pb-sm-0 m-sm-0 m-md-3 m-lg-3 pb-md-3">Historial de compras</h1>
            <div class="row pt-3">
                <div class="col-3 col-sm-3 align-self-center d-flex justify-content-center">
                    <h5>Dia</h5>
                </div>
                <div class="col-3 col-sm-3 d-flex justify-content-center align-self-center text-center">
                    <h5>Pelicula</h5>
                </div>
                <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center text-center">
                    <h5>Cine</h5>
                </div>
                 <div class="col-3 col-sm-3 d-flex d-flex justify-content-center align-self-center pe-5">
                    <h5>QR</h5>
                </div>
            </div>
            <app-purchases-list [purchases]="purchases"></app-purchases-list>
            <app-purchases-btn-return></app-purchases-btn-return>
        </form>
    </div>
</div>
<app-footer></app-footer>